<a class="column has-text-centered">
  <span class="icon is-large m-lg has-text-dark">
    <i class="mdi mdi-48px {{icon}}"></i>
  </span>
  <p class="title is-4">
    <strong>{{{title}}}</strong>
  </p>
  <p class="subtitle is-6">
    {{{text}}}
  </p>
</a>