<section class="container">
  <div class="columns">
    <div class="column is-3">
      <a class="button is-primary is-medium" href="#">New Post</a>
      <aside class="menu">
        <p class="menu-label">
          Tags
        </p>
        <ul class="menu-list">
          <li><span class="tag is-primary is-medium ">Dashboard</span></li>
          <li><span class="tag is-link is-medium ">Customers</span></li>
          <li><span class="tag is-light is-danger is-medium ">Authentication</span></li>
          <li><span class="tag is-dark is-medium ">Payments</span></li>
          <li><span class="tag is-success is-medium ">Transfers</span></li>
          <li><span class="tag is-warning is-medium ">Balance</span></li>
          <li><span class="tag is-medium ">Question</span></li>
        </ul>
      </aside>
    </div>
    <div class="column is-9">
      <div class="box content">
        {% for i in range(20) %}
        {% set
          data={
            avatar: 'https://randomuser.me/api/portraits/women/' + i +'.jpg'
          }
        %}
        {% include 'item.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>