<article class="post">
  <h4>How can I do something?</h4>
  <div class="media">
    <div class="media-left">
      <p class="image is-32x32">
        <img src="{{data.avatar}}">
      </p>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <a href="#">@red</a> replied 40 minutes ago &nbsp;
          <span class="tag">Question</span>
        </p>
      </div>
    </div>
    <div class="media-right">
      <span class="has-text-grey-light"><i class="fa fa-comments"></i> 0</span>
    </div>
  </div>
</article>